<div class="introcontainer">
  <div class="leftbox">
    <h1>Buy or sell <br /> tickets and earn <br /> rewards!</h1>
    <button>Join Program</button>
    <p>Already a member? <a href="#">Login here</a></p>

  </div>
  <div class="card">
    <img src="assets/smartphone.svg" alt="smartphone icon">
    <p>1</p>
    <h2>Register</h2>
    <p>It takes only a few minutes to become a member</p>
  </div>
  <div class="card">
    <img src="assets/musicnote.svg" alt="musicnote icon">
    <p>2</p>
    <h2>Buy & Sell Tickets</h2>
    <p>It's free, no deposit required, just send your friends the link</p>

  </div>
  <div class="card">
    <img src="assets/cup.svg" alt="cup icon">
    <p>3</p>
    <h2>Earn Rewards</h2>
    <p>Use the earned points to collect rewards for you or your friends</p>

  </div>
</div>
